@model LMS.Model.Employee
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form action="/Account/Edit" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <input type="hidden" name="Id" value="@Model.Id" />


        <input type="hidden" name="EmployeeName" value="@Model.EmployeeName" />

        <input type="hidden" name="Email" value="@Model.Email" />

        <input type="hidden" name="Password" value="@Model.Password" />

        <div class="form-group col-md-6">
            <label for="Mobile">Mobile</label>
            <input type="number" class="form-control" id="Mobile" name="Mobile" placeholder="Mobile" value="@Model.Mobile" pattern="[7-9]{1}[0-9]{9}">
        </div>
        <div class="form-group col-md-6">
            <label for="Projectid">Projectid</label>
            <input type="number" class="form-control" id="Projectid" name="Projectid" placeholder="Projectid" value="@Model.Projectid">
            @Html.ValidationMessageFor(temp => temp.Projectid)
        </div>
        <div class="form-row">


            <div class="form-group col-md-6">
                <label for="DepartmentName">DepartmentName</label>
                <select id="DepartmentName" name="DepartmentName">
                    <option value="@Model.DepartmentName">@Model.DepartmentName</option>
                    <option value="Developer">Developer</option>
                    <option value="HR">HR</option>
                    <option value="Marketing">Marketing</option>
                    <option value="QA">QA</option>
                    <option value="Testing">Testing</option>
                    <option value="Administration">Administration</option>

                </select>
                @*<label for="Departmentid">Departmentid</label>
                    <input type="number" class="form-control" id="Departmentid" name="Departmentid" placeholder="Departmentid" value="@Model.Departmentid">*@
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="EmployeeDesignation">EmployeeDesignation</label>
            <select id="EmployeeDesignation" name="EmployeeDesignation" required>
                <option value="@Model.EmployeeDesignation">@Model.EmployeeDesignation</option>
                <option value="ProjectManager">ProjectManager</option>
                <option value="Employee">Employee</option>
                <option value="HR">HR</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Image">Image</label>

            @{
                Html.RenderPartial("Image");
            }

        </div>

        <div class="form-group col-md-6">
           
                <label for=Special Permission">Special Permission</label>
                <select id="SpecialPermission" name="SpecialPermission">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
           
            @*<label for=Special Permission">Special Permission</label>
                <input type="number" class="form-control" id="SpecialPermission" name="Special Permission" placeholder="1 or 0" value="@Model.SpecialPermission" [1,0] >*@
        </div>





    </div>
    <div class="form-row">
        <div class="form-group col-md-6">



            <button type="submit" class="btn btn-success" >Save</button>
            <a class="btn btn-danger" href="/Account/Employees">Cancel</a>
        </div>
    </div>


</form>


