@model List<LMS.Model.Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<html>

<body>
    <h1>Employees</h1>
    <table border="1">
        <tr>
            <th>Profile picture</th>
            <th>Employee Name</th>
            <th>Mobile</th>
            
            <th>Department Name</th>
            <th>Employee Designation</th>
            <th>Special Permission</th>
           
            <th>Edit</th>

        </tr>
        @foreach (var emp in Model)
        {
    <tr>
        <td><img src="data:image;base64,@emp.ImageUrl" width="50" /></td>
        <td>@emp.EmployeeName</td>
        <td>@emp.Mobile</td>
        <td>@emp.DepartmentName</td>
        <td>@emp.EmployeeDesignation</td>
        <td>@emp.SpecialPermission</td>

        <td> <a href="/Account/Edit?Id=@emp.Id" class="btn btn-outline-info text-decoration-none"><i class="fa fa-pencil" aria-hidden="true"></i>Edit Profile</a></td>
    </tr>
        }
    </table>
</body>
</html>


