@model List<LMS.Model.Leave>

@{
    ViewBag.Title = "LeaveView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LeaveView</h2>

<html>

<body>
    <h1>Leaves</h1>
    <table border="1">
        <tr>
            
            <th>Employee Name</th>
            <th>Department Name</th>
            <th>Projectid</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>No Of days</th>
            <th>Status</th>


            <th>Edit</th>

        </tr>
        @foreach (var emp in Model)
        {
    <tr>
        <td>@emp.EmployeeName</td>
        <td>@emp.DepartmentName</td>
        <td>@emp.DepartmentName</td>
        <td>@emp.StartDate</td>
        <td>@emp.EndDate</td>
        <td>@emp.Number</td>
        <td>@emp.Status</td>


        <td> <a href="/Account/LeaveAction?Id=@emp.Lid" class="btn btn-outline-info text-decoration-none"><i class="fa fa-pencil" aria-hidden="true"></i>Action</a></td>
    </tr>
        }
    </table>
</body>
</html>
