@Model List<LMS.Model.Employee>
    @{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>MyProfile</h2>


    <body>
        <h1>Employees</h1>
        <table border="1">
            <tr>
                <th>Profile picture</th>
                <th>Employee Name</th>
                <th>Mobile</th>

                <th>Department Name</th>
                <th>Employee Designation</th>
                <th>Special Permission</th>

                <th>Edit</th>

            </tr>
           
            <tr>
                <td><img src="data:image;base64,@Model.ImageUrl" width="50" /></td>
                <td>@Model.EmployeeName</td>
                <td>@Model.Mobile</td>
                <td>@Model.DepartmentName</td>

                <td>@Model.EmployeeDesignation</td>
                <td>@Model.SpecialPermission</td>

                <td> <a href="/Account/Edit?Eid=@Model.Id" class="btn btn-outline-info text-decoration-none"><i class="fa fa-pencil" aria-hidden="true"></i>Edit Profile</a></td>
            </tr>

        </table>
    </body>
