@model LMS.Model.Employee

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyProfile</h2>


<body>
    <h1>Employees</h1>
    <table border="1">
        <tr>
            <th width="150">Profile picture</th>
            <th width="150">Name</th>
            <th width="150">Mobile</th>

            <th width="150">Department Name</th>
            <th width="250">Employee Designation</th>
            <th width="250">Special Permission</th>

            <th>Edit</th>

        </tr>

        <tr>
            <td><img src="data:image;base64,@Model.ImageUrl  " width="50" /></td>
            <td>@Model.EmployeeName</td>
            <td>@Model.Mobile</td>
            <td>@Model.DepartmentName</td>

            <td>@Model.EmployeeDesignation</td>
            <td>@Model.SpecialPermission</td>

            <td> <a href="/Account/Edit?Id=@Model.Id" class="btn btn-outline-info text-decoration-none">Edit Profile</a></td>
   </tr>

    </table>
</body>
